thead{
background-color: lightgrey;
}

#SpyxFamily {
  background-color: lightpink;
}

#Haikyuu{
  background-color: orange;
}

#DemonSlayer{
  background-color: #DC143C
}

#JujustuKaisen {
  background-color: #8A2BE2 
}
#Bleach {
  background-color: lightblue;
} 

#boku {
  background-color: greenyellow;
}

#YofukashinoYuta {
  background-color: #9400D3;
}

table{
  text-align: center;
}

